asttokens
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
six
stack-data
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
xlrd
